{{ define "layout.html" }}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {{/*- 嵌套模板并传值 -*/}}
    {{ template "header.html" $.time }}
    <h4>name: {{ $.name }}</h4>
    <h4>age: {{$.age}}</h4>

    <br/>
    <div>
        {{ range $k,$v := . }}
        <li>{{ $k }}: {{ $v }}</li>
        {{ end }}
    </div>
</body>
</html>

{{ end }}